- auto
- name: TrainingStatisticExtractionCalculator
  builder: lm_polygraph.defaults.stat_calculator_builders.default_TrainingStatisticExtractionCalculator
  cfg:
    dataset: '${dataset}'
    text_column: '${text_column}'
    label_column: '${label_column}'
    description: ''
    prompt: ''
    few_shot_split: "train"
    train_split: '${train_split}'
    load_from_disk: '${load_from_disk}'
    subsample_train_dataset: 1000
    n_shot: 5
    background_train_dataset: allenai/c4
    background_train_dataset_text_column: text
    background_train_dataset_label_column: url
    background_train_dataset_data_files: en/c4-train.00000-of-01024.json.gz
    background_load_from_disk: false
    subsample_background_train_dataset: 1000
    batch_size: '${batch_size}'
    seed: '${seed}'
    size: '${size}'
    bg_size: 100000
    output_attentions: True
  stats: 
    - "train_embeddings"
    - "background_train_embeddings"
    - "train_greedy_log_likelihoods"
  dependencies: