<html lang="en">
<!DOCTYPE html>
  <head>
    <title>LM Polygraph</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
    <link rel="stylesheet" href="./assets/css/highlight.min.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
</html>
<body>
<div id="response-list">
</div>
<div id="bottom-container">
    <div id="select-container">

        <div id="model" class="model">
          <div class="openai-options">
            <div class="openai-label">
                <label class="openai-secret-key"
                       v-if="modelSelected.includes('GPT-4') || modelSelected.includes('GPT-3.5')"
                       for="openai-secret-key-input"
                       style="color: black; font-size: 14px">
                    Enter your OpenAI API key:</label>&nbsp
            </div>
            </br>
            <input type="password"
                   v-if="modelSelected.includes('GPT-4') || modelSelected.includes('GPT-3.5')"
                   v-model="value"
                   id="openai-secret-key-input" class="openai-secret-key-input">
          </div>

        <treeselect color="black" v-model="modelSelected" :multiple="false" :options="computedOptions"
                    :clear-on-select="false" :clearable="false" placeholder="Select model"></treeselect>
        </div>
        &nbsp
        <div id="seque">
          <treeselect v-model="sequeSelected" :multiple="false" :options="computedOptions"
                  :clearable="false" placeholder="Select uncertainty estimator"></treeselect>
        </div>

        <div>
          <button class="settings-button" id="settings-button" style="padding:10px">
              <img class="settings-img" src="assets/img/settings.svg"/>
          </button>
            <div class="modal" id="modal">
              <div class="modal-content" id="modal-content">
                  <span class="close" id="close">&times;</span>
                  <div class="temp-input" id="temp-input">
                        <label class="temp-label"> Temperature:</label>
                        <div class="temp-slider">
                          <input id="temp-slider-value" type="range" min="0" max="39.63" value="25" step="0.01"
                                 onchange="updateTemp()" oninput="updateTemp()"/>
                            <output id="temp-value">1</output>
                        </div>
                  </div>
                  <div class="topk-input" id="topk-slider">
                        <label class="topk-label"> Top-k: </label>
                        <div class="topk-slider">
                          <input id="topk-slider-value" type="number" min="1" value="1"
                                 onchange="updateTopk()" oninput="updateTopk()"/>
                        </div>
                  </div>
                  <div class="topp-input" id="topp-slider">
                        <label class="topp-label"> Top-p: </label>
                        <div class="topp-slider">
                          <input id="topp-slider-value" type="range" min="0.01" max="1" step="0.01" value="1"
                                 onchange="updateTopp()" oninput="updateTopp()"/>
                            <output id="topp-value">1</output>
                        </div>
                  </div>
<!--                  <div class="num-beams-input" id="num-beams-slider">-->
<!--                        <label class="num-beams-label"> Number of beams: </label>-->
<!--                        <div class="num-beams-slider">-->
<!--                          <input id="num-beams-slider-value" type="number" min="1" value="1"-->
<!--                                 onchange="updateNumBeams()" oninput="updateNumBeams()"/>-->
<!--                        </div>-->
<!--                  </div>-->
                  <div class="repetition-penalty-input" id="repetition-penalty-input">
                        <label class="repetition-penalty-label"> Repetition penalty:</label>
                        <div class="repetition-penalty-slider">
                          <input id="repetition-penalty-slider-value"
                                 type="range" min="0" max="1" value="0.69897" step="0.01"
                                 onchange="updateRepetitionPenalty()" oninput="updateRepetitionPenalty()"/>
                            <output id="repetition-penalty-value">5</output>
                        </div>
                  </div>
                  <div class="presence-penalty-input" id="presence-penalty-input">
                        <label class="presence-penalty-label"> Presence penalty:</label>
                        <div class="presence-penalty-slider">
                          <input id="presence-penalty-slider-value" type="range" min="-2" max="2" value="0" step="0.01"
                                 onchange="updatePresencePenalty()" oninput="updatePresencePenalty()"/>
                            <output id="presence-penalty-value">0</output>
                        </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div id="input-container">
        <div id="prompt-input" contentEditable placeholder="Send a message..."></div>
        <button id="submit-button"></button>
    </div>
</div>
<script src="./assets/js/select.js"></script>
<script src="./assets/js/highlight.min.js"></script>
<script src="./assets/js/showdown.min.js"></script>
<script src="./assets/js/index.js"></script>
</body>
</html>
