defaults:
  - polygraph_eval_coqa_default_instruct
  - top1_processing_coqa
  - _self_

experiment_name: coqa_verb_1s_top1

description: "Here's a short story:\n\n{story} (End of story)\n\nProvide your best guess and the probability that it is correct (0.0 to 1.0) for the following question. Give ONLY the guess and probability, no other words or explanation. For example:\n\nGuess: <most likely guess, as short as possible; not a complete sentence, just the guess!>\nProbability: <the probability between 0.0 and 1.0 that your guess is correct, without any extra commentary whatsoever; just the probability!>"
few_shot_prompt: "Question: {question}\nGuess: {answer}\nProbability: <number between 0.0 and 1.0 reflecting confidence in the guess>"
prompt: "Question: {question}\n"
max_new_tokens: 30

estimators:
  - name: Verbalized1S
    cfg:
      confidence_regex: 'Probability: (\d+\.\d+)'
      name_postfix: "_top1"

stat_calculators:
  - auto