- name: MaximumSequenceProbability
- name: Perplexity
- name: MeanTokenEntropy
- name: MonteCarloSequenceEntropy
- name: MonteCarloNormalizedSequenceEntropy
- name: LexicalSimilarity
  cfg:
    metric: "rougeL"
- name: NumSemSets
- name: EigValLaplacian
  cfg:
    similarity_score: "NLI_score"
    affinity: "entail"
- name: DegMat
  cfg:
    similarity_score: "NLI_score"
    affinity: "entail"
- name: Eccentricity
  cfg:
    similarity_score: "NLI_score"
    affinity: "entail"
- name: SemanticEntropy
- name: SentenceSAR
- name: CocoaMSP
- name: CocoaPPL
- name: CocoaMTE
- name: SemanticDensity
