estimators:
  - name: MaximumClaimProbability
  - name: PerplexityClaim
  - name: MaxTokenEntropyClaim
  - name: PointwiseMutualInformationClaim
  - name: PTrueClaim
  - name: ClaimConditionedProbabilityClaim
    cfg:
      nli_context: "no_context"
  - name: ClaimConditionedProbabilityClaim
    cfg:
      nli_context: "fact_pref"
  - name: FocusClaim
    cfg:
      model_name: "facebook/opt-125m"
      gamma: 0.9
      p: 0.01
      idf_dataset: "togethercomputer/RedPajama-Data-1T-Sample"
      trust_remote_code: True
      idf_seed: 42
      spacy_path: "en_core_web_sm"