hydra:
  run:
    dir: ${cache_path}/${task}/${dataset_name}/${now:%Y-%m-%d}/${now:%H-%M-%S}

cache_path: ./workdir/output
save_path: '${hydra:run.dir}'

device: cpu

estimator: null
estimator_module: null
estimator_kwargs: {}

task: qa

dataset_name: babi_qa
dataset: [facebook/babi_qa, en-10k-qa1]
text_column: text
label_column: answer
prompt: "Answer the question given a context. You must only output the full name of the location the same way it is mentioned in the text. Don't output articles or any additional information.\n\nExample:\n\nContext:\nMary moved to the bathroom. John went to the hallway. Daniel went back to the hallway. Sandra moved to the garden. John moved to the office. Sandra journeyed to the bathroom. Mary moved to the hallway. Daniel travelled to the office. John went back to the garden. John moved to the bedroom.\nQuestion:\nWhere is Sandra?\nAnswer:\nbathroom\n\nContext:\n{context}\n\nQuestion:\n{question}\nAnswer:\n"
train_split: train
eval_split: test
max_new_tokens: 3
load_from_disk: false

train_dataset: null
train_test_split: false
test_split_size: 1

background_train_dataset: allenai/c4
background_train_dataset_text_column: text
background_train_dataset_label_column: url
background_train_dataset_data_files: en/c4-train.00000-of-01024.json.gz
background_load_from_disk: false

subsample_background_train_dataset: 10_000
subsample_train_dataset: 10_000
subsample_eval_dataset: -1

model: databricks/dolly-v2-3b
use_auth_token: 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
use_flash_attention_2: True

use_density_based_ue: true
use_seq_ue: true
use_tok_ue: false

# Examples of providing additional UE methods:
# additional_estimators: {
#   'lm_polygraph.estimators.perplexity': ['Perplexity'],
#   'lm_polygraph.estimators.eig_val_laplacian': ['EigValLaplacian']
# }
# additional_estimators_kwargs: {
#   'Perplexity': {},
#   'EigValLaplacian': {'similarity_score': 'NLI_score', 'affinity': 'entail'}
# }

ignore_exceptions: true

batch_size: 2

seed:
    - 1
