hydra:
  run:
    dir: ${cache_path}/${task}/${model}/${dataset}/${now:%Y-%m-%d}/${now:%H-%M-%S}

defaults:
  - model: bloomz-560m
  - estimators: default_estimators
  - stat_calculators: default_calculators
  - _self_

cache_path: ./workdir/output
save_path: '${hydra:run.dir}'
instruct: false
task: qa

dataset: ['LM-Polygraph/gsm8k', 'continuation']
text_column: input
label_column: output
train_split: train
eval_split: test
few_shot_prompt: null
max_new_tokens: 256
load_from_disk: false
normalize: true
trust_remote_code: false
size: 10000
generation_params:
  generate_until:
    - "\n"

target_ignore_regex: "(?s).*#### "
output_ignore_regex: "(?s).*The answer is "

subsample_eval_dataset: -1

generation_metrics: null

ignore_exceptions: false

batch_size: 1

seed:
    - 1
