hydra:
  run:
    dir: ${cache_path}/${task}/${model.path}/${dataset}/${now:%Y-%m-%d}/${now:%H-%M-%S}

defaults:
  - model: bloomz-560m
  - estimators: default_estimators
  - stat_calculators: default_calculators
  - _self_

cache_path: ./workdir/output
save_path: '${hydra:run.dir}'

device: cpu
instruct: false
task: ats

dataset: 'LM-polygraph/aeslc'
text_column: input
label_column: output
train_split: train
eval_split: test
n_shot: 0
few_shot_split: train
few_shot_prompt: null
trust_remote_code: false
size: 10000

max_new_tokens: 31
load_from_disk: false
generation_params:
  generate_until:
    - "\n"
subsample_eval_dataset: -1
batch_size: 1

generation_metrics: null
ignore_exceptions: false
seed:
    - 1

