hydra:
  run:
    dir: ${cache_path}/${task}/${model.path}/${dataset}/${now:%Y-%m-%d}/${now:%H-%M-%S}

defaults:
  - model: bloomz-560m
  - estimators: default_claim_estimators
  - _self_

cache_path: ./workdir/output
save_path: '${hydra:run.dir}'

task: bio

dataset: ['LM-Polygraph/person_bio', 'ru']
text_column: input
eval_split: test
max_new_tokens: 256
load_from_disk: false

subsample_eval_dataset: -1

model:
  path: Vikhrmodels/Vikhr-7B-instruct_0.3

use_claim_ue: true
generation_metrics: [{
  'name': 'OpenAIFactCheck'
}]

stat_calculators:
  - auto

ignore_exceptions: false
batch_size: 1
language: ru

seed:
    - 1
