# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Check disk usage
      run: df -h
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest hydra-core==1.3.2
        pip install .
    - name: Check disk usage
      run: df -h
    - name: Lint
      uses: py-actions/flake8@v2
      with:
        args: "--extend-ignore E501,F405,F403,E203 --per-file-ignores __init__.py:F401,builder_stat_calculator_simple.py:F401"
        path: "."
        plugins: "flake8-black"
    - name: Check disk usage
      run: df -h
    - name: Test with pytest 2
      run: |
        pytest -p no:cacheprovider test/test_lm_polygraph.py
    - name: Check disk usage
      run: df -h
    - name: Remove workdir
      run: rm -rf workdir
    - name: Check disk usage
      run: df -h
    - name: Test with pytest 1
      run: |
        pytest -p no:cacheprovider test/test_high_level_api.py
    - name: Check disk usage
      run: df -h
